<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!-- Defines the Access Control for the Settings and Modules -->
    <acl>
        <resources>
            <!-- Magento Admin ACL -->
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <!-- Social Login Client ACL Settings Definition -->
                    <resource id="MiniOrange_MagentoSocialLogin::SocialLogin" title="Social Login" sortOrder="10" >
                        <!-- Social Login Provider Settings ACL definition -->
                        <resource id="MiniOrange_MagentoSocialLogin::sociallogin_settings" title="Social Login Settings" sortOrder="2"/>
                         <!-- Social Login Provider Settings ACL definition -->
                        <resource id="MiniOrange_MagentoSocialLogin::signin_settings" title="Sign in Settings" sortOrder="3"/>
                        <!-- Social Login Provider Settings ACL definition -->
                        <resource id="MiniOrange_MagentoSocialLogin::user_analytics" title="User Analytics" sortOrder="4"/>
                        <!-- Attribute Settings ACL definition -->
                        <resource id="MiniOrange_MagentoSocialLogin::attr_settings" title="Attribute Mapping" sortOrder="5"/>
                        <!-- Attribute Settings ACL definition -->
                        <resource id="MiniOrange_MagentoSocialLogin::role_settings" title="Role Mapping" sortOrder="6"/>
                        <!-- Support Settings -->
                        <resource id="MiniOrange_MagentoSocialLogin::upgrade" title="Upgrade Section" sortOrder="7"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
